* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Using Grid layout to setup the framework of the design*/

.layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 150vh;
}
.layout-one {
  background-color: rgb(27, 27, 36);
  grid-column-start: span 1;
  color: white;
}
.layout-two {
  grid-column-start: span 3;
}
.intro {
  margin-left: 4rem;
  color: #b0b1b2;
}

.outline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 40vh;
  width: 15rem;
  margin-left: 2rem;
  text-align: center;
}
.outline-1 {
  grid-column-start: span 1;
}


/* styling for settings layout using grid */

.setting-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 150vh;
}

.setting-layout1 {
  background-color:rgb(44, 43, 49);
  grid-column-start: span 1;
  color: white;
}

.setting-layout2 {
  background-color: rgb(44, 43, 49);
  grid-column-start: span 2;
  color: white;
}
li{
  list-style-type: none;
}
/* Styling for the plan section */

.level {
  display: flex;
  margin-top: 1.5rem;
}

.sub-level-one,
.sub-level-two,
.auto-renew1 {
  display: flex;
  width: 100%;
}

.sub-level-one2 {
  margin-left: 4rem;
}

.icon {
  margin-left: 30rem;
  color: rgb(98, 129, 196);
}
.auto-renew {
  margin-top: 2rem;
}

/* Styling for card section */
.card-zone{
  margin-top: 2rem;
}
.card{
  display: flex;
  margin-top: 1.5rem;
}
/* Styling the table section */
.history{
    margin-top: 4rem;
}
table{
    border: none;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}